body {
  background-color: #504a4a;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #518cca;
    border-color: #518cca;
}

.btn-primary {
  margin-left: 20px;
  margin-right: 20px;
}


.nav > li {
  padding-top: 8px;
}


.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}


.panel > .panel-heading {
  background-image: none;
  background-color: #f78f3f;
}

.panel {
  background-color: #504a4a;
  border: 1px solid #fff;
  text-align: center;
}

.charImage{
	border-radius: 50%;
	border: 5px solid #f78f3f;
}
.maleCharImage{
	border-radius: 50%;
	border: 5px solid #518cca;
}
.femaleCharImage{
	border-radius: 50%;
	border: 5px solid pink;
}

.charDescription{
	color: #e23636;
}

#bodyImage img {
  margin: auto;
  width: 668px;
  display: block;
  opacity: 0.5;
}
/*#e23636	
#000000	
#504a4a	
#518cca	
#f78f3f*/