#search {
  #movies {
    margin-top: 15px;

    .movie{
      h3 { 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .poster_path {
        height: 495px;
      }

      .overview {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100px;
      }
    }
  }
}