#movies {
  margin-top: 15px;

  .movie{
    h3 { 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .poster_path {
      height: 495px;
    }

    .overview {
      overflow: hidden;
      text-overflow: ellipsis;
      height: 100px;
    }

    .thumbnail {
      position: relative;

      .delete {
        position: absolute;
        right: 15px;
        top: 15px;
      }

      .detail {
        position: absolute;
        left: 15px;
        top: 15px;
      }
    }
  }
}