#animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1%;
  padding: 2%;
  width: 400px;
  border: 2px solid slategray;
  text-align: center;
}

.card-button {
  margin: 0 auto;
}


.green {
  color: green;
}