#animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animal {
  margin: 1%;
  padding: 2%;
  width: 400px;
  border: 2px solid slategray;
  text-align: center;
}


.green {
  background-color: green;
}

.red {
  background-color: red;
}

.animal-image{
  width: 400px;
}