#pet {
  border-radius: 50%;
  background-color: white;
  border: 20px solid black;
  height: 400px;
  width: 400px;
  position: absolute;
  top: 40vh;
  left: 41%;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}