footer .block-danger, footer .block-caution, footer .block-disabled {
  width: 50px;
  height: 50px;
  border: 2px solid;
  display: inline-block; }

#tab_b img {
  height: 300px;
  float: left; }

footer {
  position: fixed;
  background-color: black;
  bottom: 0;
  width: 100%;
  text-align: center;
  border: 3px solid gray;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  footer h4 {
    color: #1D9833; }
  footer .block-awesome {
    width: 50px;
    height: 50px;
    border: 2px solid;
    display: inline-block;
    background-color: green; }
  footer .block-danger {
    background-color: red; }
  footer .block-caution {
    background-color: yellow; }
  footer .block-disabled {
    background-color: LightGrey; }

footer .block-danger, footer .block-caution, footer .block-disabled {
  width: 50px;
  height: 50px;
  border: 2px solid;
  display: inline-block; }

#tab_b img {
  height: 300px;
  float: left; }

body {
  background-color: #333 #FFDEAD;
  color: teal; }
  body h1 {
    text-align: center; }

.container {
  background-color: #93CCEA; }

#tab_a h4 {
  color: #FFCCCB; }

#tab_b img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }
