body {
  color: teal;
  text-align: center; }

#output img {
  height: 100px;
  width: 100px;
  margin: 5px;
  border-radius: 100%;
  display: inline-block; }

.search-bar {
  width: 50%;
  background-color: pink;
  text-align: center; }
