.calculator {
  border: 2px solid black;
  text-align: center;
}

.result {
  border-bottom: 2px solid black;
  text-align: right;
}

.btn{
  margin: 5px
}

.selectedButton{
  border: solid 2px orange;
}