body {
  background-color: slateblue;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation li {
  list-style: none;
}

a {
  color: white;
}

.listItem__navigation a {
  color: white;
}

#productContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.productCard {
  background-color: slategray;
  width: 30%;
  margin: 1%;
  text-align: center;
}

.image__productCard {
  max-width: 100%;
}

.header__productCard {
  font-family: Arial, Helvetica, sans-serif;
}