#pet {
  border-radius: 50%;
  background-color: white;
  border: 3px solid black;
  // background: url(../assets/dino.png) no-repeat center center fixed;
  height: 400px;
  width: 400px;
  position: absolute;
  top: 40vh;
  left: 41%;
}