.player-team-gryffindor, .player-team-slytherin, .player-team-ravenclaw, .player-team-hufflepuff {
  width: 18%;
  margin: 1%;
  border-radius: 3px;
  background-color: #B59071;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }
  .player-team-gryffindor .img-holder, .player-team-slytherin .img-holder, .player-team-ravenclaw .img-holder, .player-team-hufflepuff .img-holder {
    position: relative;
    height: 250px;
    overflow: hidden; }
  .player-team-gryffindor img, .player-team-slytherin img, .player-team-ravenclaw img, .player-team-hufflepuff img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%; }
  .player-team-gryffindor h3, .player-team-slytherin h3, .player-team-ravenclaw h3, .player-team-hufflepuff h3 {
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: 'Arial';
    margin: 5px; }
  .player-team-gryffindor h5, .player-team-slytherin h5, .player-team-ravenclaw h5, .player-team-hufflepuff h5 {
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: 'Arial';
    margin: 5px; }

.player-team-gryffindor h3 {
  color: #7f303e; }

.player-team-slytherin h3 {
  color: #446c66; }

.player-team-ravenclaw h3 {
  color: #1E3F5D; }

.player-team-hufflepuff h3 {
  color: #e3b75e; }

.player-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap; }

.team-button-group {
  display: flex;
  justify-content: center; }
  .team-button-group > * {
    margin: 0 20px; }

.team-button-gryffindor, .team-button-slytherin, .team-button-ravenclaw, .team-button-hufflepuff {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  text-decoration: none;
  color: white;
  text-align: center;
  letter-spacing: .5px;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: 'Arial';
  outline: 0;
  border: none;
  border-radius: 2px;
  height: 42px;
  line-height: 42px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .team-button-gryffindor img, .team-button-slytherin img, .team-button-ravenclaw img, .team-button-hufflepuff img {
    display: inline-block;
    padding-left: 20px;
    max-width: 40px;
    max-height: 40px; }

.team-button-gryffindor {
  background-color: #7f303e; }

.team-button-slytherin {
  background-color: #446c66; }

.team-button-ravenclaw {
  background-color: #1E3F5D; }

.team-button-hufflepuff {
  background-color: #e3b75e; }

nav {
  background-color: #BCB8B7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }
  nav + * {
    margin-top: 76px; }
  nav > * {
    padding: 0 20px; }
  nav .brand-logo {
    font-size: 2em;
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: 'Arial';
    height: 56px;
    line-height: 56px; }
  nav ul {
    list-style-type: none;
    height: 56px;
    line-height: 56px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px; }
    nav ul li {
      padding: 1.5px 10px;
      color: white;
      font-size: 15px;
      text-decoration: none;
      color: white;
      text-align: center;
      letter-spacing: .5px;
      text-transform: uppercase;
      vertical-align: middle;
      font-family: 'Arial'; }
    nav ul li:hover {
      background-color: #5D5A62; }

body {
  background-color: #5D5A62; }
