/* Card Styling */
.product {
	margin: 1%;
	width: 400px;
	border: 2px solid slategray;
}

.image img {
	max-width: 100%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.description > * {
	text-align: center;
	margin: 0;
}

.description {
	padding: 2%;
}

.description h6 {
	padding: 2%;
	font-size: 1.5em;
}

.title {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	text-transform: uppercase;
}


/* CARD LAYOUT */
#product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/* SOLD OUT */
/*.sold-out {
	position: relative;
	top: -400px;
}*/

/*.sold-out {
	position: absolute;
	top: 0;
}*/

.product {
	position: relative;

}

.sold-out {
	position: absolute;
	top: 90px;
	z-index: 999;
}













