html {
  font-size: 10px;
}

body {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

header {
  border: 2px solid black;
}

header {
  font-size: 28px;
  color: red;
}

div {
  color: green;
}

.top-nav {
  background-color: goldenrod;
  height: 55px;
}

.top-nav li {
  padding: 0 9px;
  float: left;
  list-style-type: none;
  margin: 10px 15px 0 15px;
  font-family: "Arial";
  cursor: pointer;
  border: 2px solid rgba(0,0,0, .5);
  /*border-width: 1px;
  border-style: solid;*/
  /*border-color: black;*/
  border-radius: 10px;
  /*border-bottom-width: 3px;*/
}

/*.top-nav li:hover {
  color: white;
}

.top-nav li:after {
  content: "!";
}

.top-nav > li:not(:last-child):after {
  content: ",";
}*/

/*********specificity*/
/*#page {
  color: red;
}

.page {
  color: green;
}*/

/************floats*/
.left {
  /*float: left;*/
}

.right {
  /*float: right;*/
}

.floated-p {
  /*text-align: right;*/
}

/*******ancestors / children*/
.p-ancestor > p {
  color: orange;
  clear: right;
}

/*ul > li {
  list-style-type: none;
}*/

/*.block {
  display: inline;
}

.inline {
   border: 1px solid black;
   margin: 25px;
   display: block;
}*/

/*
  The algebraic formula below starts at 0.
  So for even items, the first calculation
  equates to 0, but there is no 0 item, so
  nothing gets selected.
*/

.n-child section:nth-child(even) {
/*.n-child section:nth-child(odd) {*/
  border: 1px solid black;
}

/* .n-child :not(:nth-child(even)) { */
/* .n-type section:nth-of-type(odd) { */
.n-type section:nth-of-type(2n+1) {
  color: blue;
}

.first-of-type aside:first-of-type {
  background-color: lime;
}

.first-of-type section:first-of-type {
  background-color: lime;
}

/*.three section {
  background-color: orange;
}*/

/*.three:first-child {
  background-color: lime;
  height: 100px;
  border: 10px solid black;
}*/

.three :last-child {
  background-color: darkslategray;
}

article {
  margin: 0 0 50px 0;
  border: 1px solid gray;
  padding: 10px;
}

article:before {
  /*content: "Article parent element";*/
  border: 1px dashed gray;
  display: block;
  background-color: orange;
}


/*+++Positioning stuff++++*/

.positioning-container {
  position: relative;
  width: 95%;
  margin-top: 100px;
  border: 2px solid;
  box-sizing: border-box;
}

.positioning-container article {
  width: 20%;
}

.box {
  position: relative;
  top: 800px;
  border: 1px solid blue;
  margin-bottom: 500px;
}

.top-nav[monkey=true] {
  color: red;
}