@import 'styles/_colors';

.Building {
  height: 50vh;
  border: 3px solid $black;
  margin: 20px 0;

  .building-image {
    margin-top: 10px;
    width: 100%;
  }

  .unknown-listing{
    margin-top: 25vh;
    color: $black;
  }
}
