.Building {
  height: 60vh;
  border: 3px solid black;
  margin: 20px 0;

  .building-image {
    margin-top: 10px;
    width: 100%;
  }

  .image-detail{
    border: 2px dashed black;
    margin: 20px;

    img {
      margin: 10px 0;
      height: 50px;
    }
  }
}
