.Listings {
  background-color: green;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  ul{
    padding: 0;
    .item {
      display: block;
      list-style: none;
      margin-bottom: 10px;
    }
  }
}

