body {
  background-color: rgba(230, 230, 250, .7);
  font-family: 'PT Sans Narrow', sans-serif;
}

input {
  margin: 10px 25%;
  border: 2px solid black;
  width: 50%;
  padding: 5px;
}

#dinosaurs > person {
  padding: 20px;
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center
}


/*For every even numbered element, have a light yellow background.
For every odd numbered element, have a light blue background.*/

#dinosaurs > person:nth-child(2n+1) {
  background-color: lightblue;
}

#dinosaurs > person:nth-child(2n) {
  background-color: lightyellow;
}

#dinosaurs:nth-of-type(1) {
  display: block;
}

#dinosaurs:nth-child(3) {
  display: block;
  margin-bottom: 40px;
}

header {
  font-family: 'Lobster', cursive;
  font-size: 32px;
}

img {
  margin: 5px auto;
  box-shadow: 0 0 10px #000000;
}

.dottedBorder {
  border: 4px dotted black;
}
