/* General Styles __________________________________________________________________________*/
* {
	padding: 		0;
	margin: 		0;
}

body { 
	font: 			11px Arial,Helvetica,sans-serif; 
	text-align: 	center;
	background: 	#bebcad;
	}
p { 
	text-align: 	justify;
	padding: 		5px 30px 15px 30px;
	color: 			#786A47;
	}
a{
	text-decoration: none;
}
a:link ,a:visited {
	color: 			#5785A4;
}
a:hover {
	color: 			#1D8FDB;
}
h3 {
	font: 			normal 10px/12px Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	margin: 		20px 0 0 30px;
	color: 			#574D33;
}

ul {
	list-style: 	none; 
	margin: 		10px 20px 30px 10px;
}
li {
	padding-left: 	1px;
	margin: 		10px 0 0 8px;
	display: 		block;
	border-bottom: dotted 1px black;
}

/* grid ____________________________________________________________________________________*/
#main-container header{ 
	margin: 		0 auto;
	width: 			60%;

}

#column-container{ 
	margin: 		0 auto;
	text-align: 	left;
	width: 			60%;
	display: table;
}

.column {
	display: table-cell;
}

.left-column{
	width: 70%;
	background-color: white;
	height: 100%;
}

.right-column{
	width: 30%;
	background-color: #998A67;
	height: 100%;
}

header img {
	width: 100%;
	display: inherit;
}


/* headers _________________________________________________________________________________*/
.header-h1{
	height: 30px;
	padding-left: 15px;
	line-height: 30px;
	font-size: 16px;
	background: repeating-linear-gradient(
		-45deg,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0) 2px,
		rgba(0, 0, 0, 0.1) 2px,
		rgba(0, 0, 0, 0.1) 4px
	)
}

/*  p  _____________________________________________________________________________________*/


/*  links  _________________________________________________________________________________*/
footer a{
	text-decoration: underline;
}
footer a:link, footer a:visited {
	color: 			#c6c6c6;
}
footer a:hover {
	color: 			#fff;
}

.right-column li a {
	font-weight: 	bold;
	color: 			#E5D9BC;
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
	padding-bottom: 4px;
	/* background: 	url(https://raw.githubusercontent.com/nss-evening-cohort-7/css-lecture/master/dot2.gif) no-repeat 0 1px; */
}
.right-column li a:hover {
	color: 			#7ECDFF;
	/* background: 	transparent url(https://raw.githubusercontent.com/nss-evening-cohort-7/css-lecture/master/dot2on.gif) no-repeat 0 1px; */
}
.right-column li a.designer-name {
	display: 		inline;
	padding: 		0;
	margin: 		0;
	background: 	none;
	color: 			#595339;
	font-weight: 	normal;
}
.right-column li a.designer-name:hover {
	color: 			#7ECDFF;
}



/*  crap i added  __________________________________________________________________________*/

.whole-div-shaddow{
	box-shadow: 0 0 10px #999;
}

.flowers {
	float: right;
}