body{
	font-family: "Special Elite";
	background-color: pink;
	margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding-top: 13px;
}

li {
  display: inline;
}

nav {
	background-color: green;
	height: 40px;
}

footer{
	background-color: blue;
	color: white;
	height: 40px;	
	text-align: center;
	padding-top: 13px;
}

.container {
	padding: 10px;
}

table, th, td {
   border: 1px solid black;
}