p {
  border-bottom: 3px solid red;
  display: block;
}

.kermit {
  border: 3px solid green;
}

#main-div-1 {
  padding: 100px;
}


/* DOING SOME STUFF */

#main-div-2 .kermit {
  display: inline;
  border: 3px dotted purple;
}

#main-div-2 > * {
  border: 4px solid black;
}

h2 ~ p {
  border: 3px solid blue;
}

#li-1 {
  font-size: 30px;
}

#li-2 {
  font-weight: bold;
}

#li-3 {
  text-transform: uppercase;
}

#mystery-ul {
  font-family: 'mystery quest';
}

#flex-kermit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#flex-kermit img {
  margin: 15px;
  padding: 10px;
  max-width: 30%;
}


/*
STATE
:hover
:active
*/
/* active: green background */
/* this selector targed links that are active - ie as you click on them */
a:active { 
  background-color: green; 
}


/* hover: increase font size */
/* this selector targets links you hover over */
a:hover{
  font-size: 40px;
}



/*
INPUTS
:focus
*/
/* focus: change the background color to yellow */
input:focus{
  background-color: yellow;
}



/*
POSITION
nth-child()
nth-of-type()
::before
::after
*/

/*nth-child()*/
/* Make every other img in #main-div-2 have a pink border*/
/*.sub-div li:nth-child(2n){   ODD */
.sub-div li:nth-child(2n){ /*even*/
  border: pink 5px solid;
}

/* ::after */
/* put a big quote before main-div-1 */
#main-div-1::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-size: 60px;
  font-weight: bold;
  color: #999;
}
/*::after*/
/* put a $ after main-div-1 */
#main-div-1::after{
  /*Reset to make sure*/
  content: "$";
}

/* nth-of-type() vs nth-child */
/*these two do the same thing.  unless there are other things in there - like the h1*/
p:nth-child(2) { 
  color: red; 
}

p:nth-of-type(2) { 
  color: blue; 
}